<script lang="ts" setup>

import Containter from "@/shared/conteiner/Containter.vue";
import Logo from "@/shared/logo/Logo.vue";
import Button from "@/shared/button/Button.vue";
import Icon from "@/shared/icon/Icon.vue";
</script>

<template>
  <header class="header">
    <Containter class="header__container">
      <Logo orientation="horizontal" colorful bg-color="white" with-text/>
      <div class="header__catalog ">
        <Button color="secondary">
          <template v-slot:leftIcon>
            <Icon type="menu"/>
          </template>
          Каталог
        </Button>
      </div>
    </Containter>
  </header>
</template>

<style scoped>
.header__container{
  display: flex;
  align-items: center;
  height: 72px;
}
.header{
  position: sticky;
  top: 0;
  left: 0;
  background: #FFF;
  box-shadow: #BFBFBF;
}
.header__catalog{
  width: 140px;
  margin-left: 40px;
}

</style>