<script lang="ts" setup>
interface Props{
  orientation: 'vertical'|'horizontal';
  colorful: boolean;
  bgColor: 'white'|'black';
  withText: boolean;
}
const props = defineProps<Props>();
const {orientation,colorful,bgColor,withText}=props
const option1 = orientation ==='vertical' && colorful && bgColor == 'white' && withText;
const option2 = orientation ==='horizontal' && colorful && bgColor == 'white' && withText;
</script>

<template>
  <svg v-if="option1" class="logo-1" width="231" height="165" viewBox="0 0 231 165" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M162.391 53.4805H63.0725C60.9898 53.4805 59.2968 55.2457 59.4782 57.3197C61.655 82.013 84.6656 101.444 112.729 101.444C140.791 101.444 163.802 82.013 165.979 57.3197C166.167 55.2457 164.474 53.4805 162.391 53.4805Z" fill="#FF6633"/>
    <path d="M94.8044 16.5315C93.6959 16.5315 92.5941 16.0349 91.8752 15.0818C88.2472 10.3163 81.3541 7.34959 73.8899 7.34959C66.4258 7.34959 59.5326 10.3096 55.9047 15.0818C54.6752 16.6993 52.3641 17.0081 50.7516 15.7798C49.1325 14.5515 48.8234 12.2426 50.0529 10.6317C55.1186 3.97348 64.0273 0 73.8899 0C83.7526 0 92.6612 3.97348 97.7337 10.6317C98.9631 12.2493 98.6474 14.5515 97.0349 15.7798C96.3631 16.2899 95.5838 16.5315 94.8044 16.5315Z" fill="#414141"/>
    <path d="M172.484 16.5315C171.376 16.5315 170.274 16.0349 169.555 15.0818C165.927 10.3163 159.034 7.34959 151.57 7.34959C144.105 7.34959 137.212 10.3096 133.584 15.0818C132.355 16.6993 130.044 17.0081 128.431 15.7798C126.812 14.5515 126.503 12.2426 127.733 10.6317C132.798 3.97348 141.707 0 151.57 0C161.432 0 170.341 3.97348 175.413 10.6317C176.643 12.2493 176.327 14.5515 174.715 15.7798C174.043 16.2899 173.263 16.5315 172.484 16.5315Z" fill="#414141"/>
    <path d="M10.2938 112.512L8.84938 116.331C8.72173 116.647 8.25816 116.774 7.82818 116.62C6.84728 116.324 5.8328 115.794 4.77129 115.016C3.71649 114.25 2.88341 113.438 2.26531 112.586C1.33145 111.29 0.67976 109.881 0.316964 108.377C-0.0323943 106.861 -0.0861418 105.397 0.12213 103.961C0.343838 102.538 0.854439 101.162 1.64721 99.8465C2.44671 98.531 3.47463 97.4101 4.76457 96.4838C6.04779 95.5576 7.43851 94.9267 8.93672 94.5844C10.4349 94.242 11.9063 94.1884 13.3306 94.43C14.775 94.6716 16.1456 95.1884 17.4624 96.0006C18.7927 96.806 19.9281 97.8665 20.8619 99.1619C21.4599 99.9942 21.9638 101.048 22.3534 102.303C22.7565 103.558 22.9581 104.733 22.9514 105.834C22.9581 106.277 22.6423 106.612 22.293 106.626L18.2216 106.74C17.8319 106.74 17.5094 106.377 17.5094 105.86C17.5229 105.236 17.4423 104.605 17.2474 103.948C17.0526 103.29 16.804 102.746 16.495 102.317C15.4939 100.934 14.1637 100.095 12.4975 99.8264C10.8448 99.5512 9.33982 99.9137 7.95583 100.907C6.58527 101.894 5.76562 103.209 5.51032 104.867C5.26845 106.512 5.64468 108.042 6.64573 109.424C6.95478 109.854 7.37804 110.257 7.92895 110.633C8.48658 111.015 9.03078 111.304 9.58841 111.485C10.1326 111.66 10.4349 112.109 10.2938 112.512Z" fill="#414141"/>
    <path d="M26.5458 108.136C26.8817 107.767 27.3117 107.753 27.6745 108.089L38.1284 117.687C38.4979 118.023 38.5113 118.452 38.1754 118.815L35.8239 121.365C35.4679 121.754 35.0849 121.768 34.6952 121.412L27.6409 114.935L25.1685 117.62L30.5231 122.54C30.9262 122.909 30.9665 123.352 30.6037 123.741L28.6621 125.849C28.3262 126.218 27.876 126.211 27.4796 125.849L22.125 120.929L19.5855 123.694L26.6398 130.171C27.137 130.628 27.1773 131.218 26.754 131.668L24.5504 134.064C24.2212 134.42 23.7845 134.427 23.4217 134.091L12.7528 124.305C12.3833 123.969 12.3564 123.553 12.6923 123.184L26.5458 108.136Z" fill="#414141"/>
    <path d="M49.1597 139.716C49.1328 140.783 48.8305 141.783 48.246 142.716C47.1374 144.495 45.6997 145.515 43.9327 145.783C42.1792 146.058 40.2645 145.562 38.2019 144.273L30.9393 139.749C30.6033 139.541 30.5429 139.273 30.7444 138.95L41.803 121.231C42.0045 120.909 42.2733 120.848 42.6025 121.056L49.3276 125.245C51.2961 126.473 52.5256 127.896 53.0228 129.52C53.5199 131.144 53.2378 132.816 52.1763 134.521C51.323 135.89 49.8315 136.789 48.3333 136.836C48.9111 137.695 49.1865 138.648 49.1597 139.716ZM40.7348 140.085C41.9239 140.83 43.1467 140.555 43.8723 139.393C44.5844 138.252 44.2687 137.078 43.0728 136.34L40.0226 134.44L37.6846 138.185L40.7348 140.085ZM44.1679 127.809L42.1927 130.97L44.7121 132.541C45.7266 133.171 46.7343 132.95 47.339 131.977C47.9436 131.004 47.6951 130.01 46.6806 129.379L44.1679 127.809Z" fill="#414141"/>
    <path d="M59.4276 131.95C59.6157 131.487 60.0054 131.319 60.4689 131.507L73.6438 136.789C74.1074 136.977 74.2753 137.366 74.0872 137.829L72.7973 141.044C72.6024 141.534 72.2464 141.682 71.7559 141.487L62.8607 137.923L61.5036 141.306L68.2556 144.011C68.7595 144.213 68.9543 144.615 68.7595 145.105L67.6913 147.763C67.5031 148.226 67.0866 148.381 66.5827 148.179L59.8307 145.474L58.4333 148.958L67.3285 152.522C67.96 152.777 68.2019 153.307 67.9667 153.884L66.7507 156.905C66.5693 157.355 66.1662 157.516 65.7026 157.328L52.259 151.938C51.7954 151.75 51.6208 151.374 51.8089 150.911L59.4276 131.95Z" fill="#414141"/>
    <path d="M86.543 140.044C88.8407 140.547 90.5539 141.635 91.6826 143.32C92.8113 144.991 93.1405 146.957 92.6366 149.226C92.1461 151.468 91.0242 153.106 89.2975 154.146C87.5709 155.173 85.5688 155.441 83.2644 154.938L80.6845 154.374L79.3945 160.234C79.287 160.717 78.931 160.952 78.4136 160.838L74.6379 160.012C74.1542 159.905 73.9392 159.549 74.0399 159.066L78.4271 139.111C78.5279 138.655 78.9108 138.386 79.3677 138.487L81.269 138.903L83.1837 139.326L86.543 140.044ZM84.1109 150.038C84.8633 150.206 85.5486 150.092 86.1466 149.716C86.7579 149.34 87.1409 148.776 87.3089 148.025C87.4768 147.273 87.3626 146.602 86.9662 146.004C86.59 145.393 86.0122 145.004 85.2597 144.843L82.9016 144.326L81.7594 149.528L84.1109 150.038Z" fill="#414141"/>
    <path d="M112.89 142.991C113.361 143.018 113.656 143.367 113.629 143.83L112.501 164.248C112.474 164.744 112.172 165.033 111.674 164.999L107.818 164.785C107.287 164.758 107.005 164.436 107.032 163.939L107.368 157.858L105.124 157.737L101.556 163.765C101.241 164.275 101.039 164.416 100.602 164.389L96.0943 164.14C95.6106 164.114 95.3688 163.617 95.6308 163.194L99.8835 156.254C97.8008 154.858 96.6721 152.515 96.8267 149.757C96.9543 147.454 97.7807 145.642 99.3192 144.333C100.858 143.011 102.813 142.427 105.164 142.555L111.903 142.924L112.89 142.991ZM107.63 153.146L107.932 147.663L105.117 147.508C104.331 147.468 103.673 147.683 103.149 148.152C102.625 148.622 102.336 149.24 102.289 150.025C102.248 150.81 102.463 151.482 102.934 152.066C103.417 152.636 104.049 152.945 104.815 152.985L107.63 153.146Z" fill="#414141"/>
    <path d="M136.741 140.823C137.117 140.776 137.332 140.95 137.379 141.34L139.865 162.066C139.912 162.456 139.737 162.67 139.368 162.717L135.129 163.227C134.752 163.274 134.537 163.1 134.49 162.711L133.503 154.475L125.306 155.455L126.294 163.691C126.341 164.08 126.166 164.295 125.797 164.342L121.571 164.845C121.181 164.892 120.966 164.717 120.919 164.328L118.433 143.602C118.386 143.212 118.561 142.998 118.951 142.951L123.176 142.447C123.553 142.4 123.768 142.575 123.815 142.964L124.722 150.528L132.918 149.548L132.011 141.984C131.964 141.595 132.139 141.38 132.508 141.333L136.741 140.823Z" fill="#414141"/>
    <path d="M143.646 146.166C143.767 144.615 144.157 143.199 144.802 141.924C145.46 140.642 146.367 139.487 147.529 138.481C148.685 137.46 150.009 136.709 151.513 136.212C153.018 135.715 154.53 135.534 156.055 135.668C157.587 135.782 159.005 136.172 160.281 136.816C161.571 137.454 162.733 138.36 163.741 139.534C164.762 140.689 165.515 142.011 166.012 143.515C166.67 145.508 166.791 147.501 166.381 149.475C165.972 151.455 165.105 153.2 163.741 154.717C162.397 156.227 160.718 157.301 158.709 157.965C157.204 158.462 155.692 158.643 154.161 158.529C152.622 158.402 151.204 158.012 149.914 157.375C148.638 156.73 147.482 155.831 146.468 154.683C145.467 153.522 144.708 152.2 144.217 150.71C143.713 149.206 143.532 147.696 143.646 146.166ZM152.38 152.475C153.851 153.213 155.39 153.307 156.996 152.777C158.588 152.254 159.75 151.26 160.496 149.797C161.235 148.327 161.356 146.817 160.825 145.226C160.294 143.622 159.293 142.461 157.822 141.723C156.351 140.984 154.819 140.87 153.233 141.394C151.641 141.917 150.465 142.924 149.726 144.394C148.987 145.864 148.873 147.394 149.404 148.992C149.928 150.589 150.916 151.737 152.38 152.475Z" fill="#414141"/>
    <path d="M180.276 122.902C180.639 122.694 181.089 122.835 181.325 123.238L191.537 140.93C191.758 141.306 191.637 141.796 191.254 142.011L187.868 143.958C187.492 144.179 187.029 144.038 186.807 143.662L183.36 137.695C182.937 139.138 181.902 140.514 180.444 141.36C178.194 142.655 175.95 142.991 173.719 142.38C171.482 141.756 169.675 140.259 168.304 137.883L165.207 132.514C164.985 132.138 165.086 131.641 165.442 131.44L168.801 129.507C169.218 129.265 169.708 129.386 169.937 129.789L173.027 135.145C174.21 137.192 176.124 137.709 178.18 136.527C179.215 135.93 179.847 135.165 180.122 134.225C180.397 133.286 180.256 132.319 179.692 131.339L176.588 125.956C176.366 125.58 176.481 125.077 176.85 124.869L180.276 122.902Z" fill="#414141"/>
    <path d="M213.789 122.251C214.306 122.378 214.555 122.862 214.165 123.211L210.43 126.546C210.194 126.754 209.912 126.848 209.61 126.808L199.915 124.298L197.597 126.365L202.959 132.359C203.221 132.654 203.207 132.929 202.925 133.178L199.72 136.044C199.425 136.306 199.149 136.292 198.887 135.997L184.98 120.445C184.732 120.163 184.745 119.888 185.034 119.626L188.239 116.76C188.521 116.512 188.796 116.525 189.052 116.807L194.158 122.519L195.972 120.902L195.118 111.371C195.065 110.793 195.239 110.558 195.636 110.203L199.337 106.9C199.754 106.531 200.211 106.813 200.258 107.411L201.259 119.056L213.789 122.251Z" fill="#414141"/>
    <path d="M230.442 100.021C230.959 100.149 231.168 100.531 230.832 101.014L228.366 104.518C228.124 104.86 227.661 105.001 227.217 104.894L224.275 104.041L219.874 110.29L221.668 112.747C221.943 113.089 221.963 113.586 221.695 113.962L219.236 117.452C218.913 117.908 218.49 117.888 218.167 117.418L206.081 99.0813C205.812 98.6517 205.826 98.1618 206.068 97.8195L207.902 95.2152C208.144 94.8729 208.627 94.7118 209.077 94.8259L230.442 100.021ZM217.032 106.411L219.652 102.686L212.873 100.706L217.032 106.411Z" fill="#414141"/>
  </svg>
  <svg v-if="option2" class="logo-2" width="152" height="32" viewBox="0 0 231 165" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M162.391 53.4805H63.0725C60.9898 53.4805 59.2968 55.2457 59.4782 57.3197C61.655 82.013 84.6656 101.444 112.729 101.444C140.791 101.444 163.802 82.013 165.979 57.3197C166.167 55.2457 164.474 53.4805 162.391 53.4805Z" fill="#FF6633"/>
    <path d="M94.8044 16.5315C93.6959 16.5315 92.5941 16.0349 91.8752 15.0818C88.2472 10.3163 81.3541 7.34959 73.8899 7.34959C66.4258 7.34959 59.5326 10.3096 55.9047 15.0818C54.6752 16.6993 52.3641 17.0081 50.7516 15.7798C49.1325 14.5515 48.8234 12.2426 50.0529 10.6317C55.1186 3.97348 64.0273 0 73.8899 0C83.7526 0 92.6612 3.97348 97.7337 10.6317C98.9631 12.2493 98.6474 14.5515 97.0349 15.7798C96.3631 16.2899 95.5838 16.5315 94.8044 16.5315Z" fill="#414141"/>
    <path d="M172.484 16.5315C171.376 16.5315 170.274 16.0349 169.555 15.0818C165.927 10.3163 159.034 7.34959 151.57 7.34959C144.105 7.34959 137.212 10.3096 133.584 15.0818C132.355 16.6993 130.044 17.0081 128.431 15.7798C126.812 14.5515 126.503 12.2426 127.733 10.6317C132.798 3.97348 141.707 0 151.57 0C161.432 0 170.341 3.97348 175.413 10.6317C176.643 12.2493 176.327 14.5515 174.715 15.7798C174.043 16.2899 173.263 16.5315 172.484 16.5315Z" fill="#414141"/>
    <path d="M10.2938 112.512L8.84938 116.331C8.72173 116.647 8.25816 116.774 7.82818 116.62C6.84728 116.324 5.8328 115.794 4.77129 115.016C3.71649 114.25 2.88341 113.438 2.26531 112.586C1.33145 111.29 0.67976 109.881 0.316964 108.377C-0.0323943 106.861 -0.0861418 105.397 0.12213 103.961C0.343838 102.538 0.854439 101.162 1.64721 99.8465C2.44671 98.531 3.47463 97.4101 4.76457 96.4838C6.04779 95.5576 7.43851 94.9267 8.93672 94.5844C10.4349 94.242 11.9063 94.1884 13.3306 94.43C14.775 94.6716 16.1456 95.1884 17.4624 96.0006C18.7927 96.806 19.9281 97.8665 20.8619 99.1619C21.4599 99.9942 21.9638 101.048 22.3534 102.303C22.7565 103.558 22.9581 104.733 22.9514 105.834C22.9581 106.277 22.6423 106.612 22.293 106.626L18.2216 106.74C17.8319 106.74 17.5094 106.377 17.5094 105.86C17.5229 105.236 17.4423 104.605 17.2474 103.948C17.0526 103.29 16.804 102.746 16.495 102.317C15.4939 100.934 14.1637 100.095 12.4975 99.8264C10.8448 99.5512 9.33982 99.9137 7.95583 100.907C6.58527 101.894 5.76562 103.209 5.51032 104.867C5.26845 106.512 5.64468 108.042 6.64573 109.424C6.95478 109.854 7.37804 110.257 7.92895 110.633C8.48658 111.015 9.03078 111.304 9.58841 111.485C10.1326 111.66 10.4349 112.109 10.2938 112.512Z" fill="#414141"/>
    <path d="M26.5458 108.136C26.8817 107.767 27.3117 107.753 27.6745 108.089L38.1284 117.687C38.4979 118.023 38.5113 118.452 38.1754 118.815L35.8239 121.365C35.4679 121.754 35.0849 121.768 34.6952 121.412L27.6409 114.935L25.1685 117.62L30.5231 122.54C30.9262 122.909 30.9665 123.352 30.6037 123.741L28.6621 125.849C28.3262 126.218 27.876 126.211 27.4796 125.849L22.125 120.929L19.5855 123.694L26.6398 130.171C27.137 130.628 27.1773 131.218 26.754 131.668L24.5504 134.064C24.2212 134.42 23.7845 134.427 23.4217 134.091L12.7528 124.305C12.3833 123.969 12.3564 123.553 12.6923 123.184L26.5458 108.136Z" fill="#414141"/>
    <path d="M49.1597 139.716C49.1328 140.783 48.8305 141.783 48.246 142.716C47.1374 144.495 45.6997 145.515 43.9327 145.783C42.1792 146.058 40.2645 145.562 38.2019 144.273L30.9393 139.749C30.6033 139.541 30.5429 139.273 30.7444 138.95L41.803 121.231C42.0045 120.909 42.2733 120.848 42.6025 121.056L49.3276 125.245C51.2961 126.473 52.5256 127.896 53.0228 129.52C53.5199 131.144 53.2378 132.816 52.1763 134.521C51.323 135.89 49.8315 136.789 48.3333 136.836C48.9111 137.695 49.1865 138.648 49.1597 139.716ZM40.7348 140.085C41.9239 140.83 43.1467 140.555 43.8723 139.393C44.5844 138.252 44.2687 137.078 43.0728 136.34L40.0226 134.44L37.6846 138.185L40.7348 140.085ZM44.1679 127.809L42.1927 130.97L44.7121 132.541C45.7266 133.171 46.7343 132.95 47.339 131.977C47.9436 131.004 47.6951 130.01 46.6806 129.379L44.1679 127.809Z" fill="#414141"/>
    <path d="M59.4276 131.95C59.6157 131.487 60.0054 131.319 60.4689 131.507L73.6438 136.789C74.1074 136.977 74.2753 137.366 74.0872 137.829L72.7973 141.044C72.6024 141.534 72.2464 141.682 71.7559 141.487L62.8607 137.923L61.5036 141.306L68.2556 144.011C68.7595 144.213 68.9543 144.615 68.7595 145.105L67.6913 147.763C67.5031 148.226 67.0866 148.381 66.5827 148.179L59.8307 145.474L58.4333 148.958L67.3285 152.522C67.96 152.777 68.2019 153.307 67.9667 153.884L66.7507 156.905C66.5693 157.355 66.1662 157.516 65.7026 157.328L52.259 151.938C51.7954 151.75 51.6208 151.374 51.8089 150.911L59.4276 131.95Z" fill="#414141"/>
    <path d="M86.543 140.044C88.8407 140.547 90.5539 141.635 91.6826 143.32C92.8113 144.991 93.1405 146.957 92.6366 149.226C92.1461 151.468 91.0242 153.106 89.2975 154.146C87.5709 155.173 85.5688 155.441 83.2644 154.938L80.6845 154.374L79.3945 160.234C79.287 160.717 78.931 160.952 78.4136 160.838L74.6379 160.012C74.1542 159.905 73.9392 159.549 74.0399 159.066L78.4271 139.111C78.5279 138.655 78.9108 138.386 79.3677 138.487L81.269 138.903L83.1837 139.326L86.543 140.044ZM84.1109 150.038C84.8633 150.206 85.5486 150.092 86.1466 149.716C86.7579 149.34 87.1409 148.776 87.3089 148.025C87.4768 147.273 87.3626 146.602 86.9662 146.004C86.59 145.393 86.0122 145.004 85.2597 144.843L82.9016 144.326L81.7594 149.528L84.1109 150.038Z" fill="#414141"/>
    <path d="M112.89 142.991C113.361 143.018 113.656 143.367 113.629 143.83L112.501 164.248C112.474 164.744 112.172 165.033 111.674 164.999L107.818 164.785C107.287 164.758 107.005 164.436 107.032 163.939L107.368 157.858L105.124 157.737L101.556 163.765C101.241 164.275 101.039 164.416 100.602 164.389L96.0943 164.14C95.6106 164.114 95.3688 163.617 95.6308 163.194L99.8835 156.254C97.8008 154.858 96.6721 152.515 96.8267 149.757C96.9543 147.454 97.7807 145.642 99.3192 144.333C100.858 143.011 102.813 142.427 105.164 142.555L111.903 142.924L112.89 142.991ZM107.63 153.146L107.932 147.663L105.117 147.508C104.331 147.468 103.673 147.683 103.149 148.152C102.625 148.622 102.336 149.24 102.289 150.025C102.248 150.81 102.463 151.482 102.934 152.066C103.417 152.636 104.049 152.945 104.815 152.985L107.63 153.146Z" fill="#414141"/>
    <path d="M136.741 140.823C137.117 140.776 137.332 140.95 137.379 141.34L139.865 162.066C139.912 162.456 139.737 162.67 139.368 162.717L135.129 163.227C134.752 163.274 134.537 163.1 134.49 162.711L133.503 154.475L125.306 155.455L126.294 163.691C126.341 164.08 126.166 164.295 125.797 164.342L121.571 164.845C121.181 164.892 120.966 164.717 120.919 164.328L118.433 143.602C118.386 143.212 118.561 142.998 118.951 142.951L123.176 142.447C123.553 142.4 123.768 142.575 123.815 142.964L124.722 150.528L132.918 149.548L132.011 141.984C131.964 141.595 132.139 141.38 132.508 141.333L136.741 140.823Z" fill="#414141"/>
    <path d="M143.646 146.166C143.767 144.615 144.157 143.199 144.802 141.924C145.46 140.642 146.367 139.487 147.529 138.481C148.685 137.46 150.009 136.709 151.513 136.212C153.018 135.715 154.53 135.534 156.055 135.668C157.587 135.782 159.005 136.172 160.281 136.816C161.571 137.454 162.733 138.36 163.741 139.534C164.762 140.689 165.515 142.011 166.012 143.515C166.67 145.508 166.791 147.501 166.381 149.475C165.972 151.455 165.105 153.2 163.741 154.717C162.397 156.227 160.718 157.301 158.709 157.965C157.204 158.462 155.692 158.643 154.161 158.529C152.622 158.402 151.204 158.012 149.914 157.375C148.638 156.73 147.482 155.831 146.468 154.683C145.467 153.522 144.708 152.2 144.217 150.71C143.713 149.206 143.532 147.696 143.646 146.166ZM152.38 152.475C153.851 153.213 155.39 153.307 156.996 152.777C158.588 152.254 159.75 151.26 160.496 149.797C161.235 148.327 161.356 146.817 160.825 145.226C160.294 143.622 159.293 142.461 157.822 141.723C156.351 140.984 154.819 140.87 153.233 141.394C151.641 141.917 150.465 142.924 149.726 144.394C148.987 145.864 148.873 147.394 149.404 148.992C149.928 150.589 150.916 151.737 152.38 152.475Z" fill="#414141"/>
    <path d="M180.276 122.902C180.639 122.694 181.089 122.835 181.325 123.238L191.537 140.93C191.758 141.306 191.637 141.796 191.254 142.011L187.868 143.958C187.492 144.179 187.029 144.038 186.807 143.662L183.36 137.695C182.937 139.138 181.902 140.514 180.444 141.36C178.194 142.655 175.95 142.991 173.719 142.38C171.482 141.756 169.675 140.259 168.304 137.883L165.207 132.514C164.985 132.138 165.086 131.641 165.442 131.44L168.801 129.507C169.218 129.265 169.708 129.386 169.937 129.789L173.027 135.145C174.21 137.192 176.124 137.709 178.18 136.527C179.215 135.93 179.847 135.165 180.122 134.225C180.397 133.286 180.256 132.319 179.692 131.339L176.588 125.956C176.366 125.58 176.481 125.077 176.85 124.869L180.276 122.902Z" fill="#414141"/>
    <path d="M213.789 122.251C214.306 122.378 214.555 122.862 214.165 123.211L210.43 126.546C210.194 126.754 209.912 126.848 209.61 126.808L199.915 124.298L197.597 126.365L202.959 132.359C203.221 132.654 203.207 132.929 202.925 133.178L199.72 136.044C199.425 136.306 199.149 136.292 198.887 135.997L184.98 120.445C184.732 120.163 184.745 119.888 185.034 119.626L188.239 116.76C188.521 116.512 188.796 116.525 189.052 116.807L194.158 122.519L195.972 120.902L195.118 111.371C195.065 110.793 195.239 110.558 195.636 110.203L199.337 106.9C199.754 106.531 200.211 106.813 200.258 107.411L201.259 119.056L213.789 122.251Z" fill="#414141"/>
    <path d="M230.442 100.021C230.959 100.149 231.168 100.531 230.832 101.014L228.366 104.518C228.124 104.86 227.661 105.001 227.217 104.894L224.275 104.041L219.874 110.29L221.668 112.747C221.943 113.089 221.963 113.586 221.695 113.962L219.236 117.452C218.913 117.908 218.49 117.888 218.167 117.418L206.081 99.0813C205.812 98.6517 205.826 98.1618 206.068 97.8195L207.902 95.2152C208.144 94.8729 208.627 94.7118 209.077 94.8259L230.442 100.021ZM217.032 106.411L219.652 102.686L212.873 100.706L217.032 106.411Z" fill="#414141"/>
  </svg>
</template>

<style scoped>
.logo-1{
  width: 231px;
  height: 165px;
}
.logo-2{
  width: 152px;
  height: 32px;
}
</style>