<script lang="ts" setup>

import TheText from "@/shared/text/ui/TheText.vue";

interface Props{
  leftIcon?: HTMLElement;
  rightIcon?: HTMLElement;
  color?: 'primary'|'secondary'|'grayscale'|'error';
  decoration?: 'default'|'outline'|'none';
  size?: 'L' | 'M' | 'S';
  disabled?: boolean;
}
const props = defineProps<Props>()
const {
  color='primary',
  decoration='default',
  size='M',
  disabled=false
} = props;
const classes = ['button',`size_${size}`,`decoration_${decoration}`,`color_${color}`];

</script>
<template>
  <button :class="classes" :disabled="disabled">
    <slot name="leftIcon" class="left-icon"></slot>
    <TheText class="button_text" tag="p" size="s"><slot></slot></TheText>
  </button>
</template>
<style scoped>
.button{
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
  .button.size_M{
    grid-gap: 8px;
    padding: 8px;
  }
  .button.color_secondary{
    background-color: #70C05B;
    color: #FFFFFF;
  }
.button_text{
  width: 100%;
  text-align: center;
}
</style>